<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Yahoo.Yui.Compressor" publicKeyToken="f8b4b81ec75097e2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.2" newVersion="1.6.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="EfConnectionStringFormat" value="metadata=res://*/Data.EF.Models.csdl|res://*/Data.EF.Models.ssdl|res://*/Data.EF.Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0};MultipleActiveResultSets=True&quot;;" />
    <add key="IgnoreUpdates" value="0" />
    <add key="BaseApplicationUrl" value="http://www.merchanttribe.dev/" />
    <add key="MailServer" value="smtp.domain.com" />
    <add key="MailServerUsername" value="user@domain.com" />
    <add key="MailServerPassword" value="password" />
    <add key="MailServerSSL" value="True" />
    <add key="MailServerPort" value="587" />
    <add key="MailServerAsync" value="False" />
    <add key="BillingStoreId" value="432" />
    <add key="AppPayPalUsername" value="marcus_api1.bvsoftware.com" />
    <add key="AppPayPalPassword" value="X4L6E8G7A3EZCSVT" />
    <add key="AppPayPalSignature" value="AZZs-tZEBCxbju9-3iOEg-DGV5OUAnFxUmNIf2EB5hsSi5vnWpjx05UP" />
    <add key="storekey" value="D13400AA-B216-42F7-B29E-200A5401A41D" />
    <add key="disablecachetimers" value="1" />
    <add key="disablecsscaching" value="1" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="DisplayProfiler" value="false" />
    <add key="StripeApiKey" value="STRIPE-API-KEY-GOES-HERE" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>