@model MerchantTribe.Commerce.Catalog.Category
@Html.Raw(ViewBag.BreadCrumbsFinal)
@if (Model.CustomPageLayout == MerchantTribe.Commerce.Catalog.CustomPageLayoutType.WithSideBar)
{
    <text><div id="categoryleft">@Html.Raw(ViewBag.SideColumn)</div>
    <div id="categorymain"></text>
}
else
{
    <text><div class="onecolumnmain"></text>
}
@Html.Raw(ViewBag.DisplayHtml)
</div>
<div class="clear"></div>
    
    
    