@using MerchantTribeStore
@Html.Action("FullHeader", "TemplateEngine", new 
{ Area="",
  AnalyticsTop=ViewData["PassedAnalyticsTop"], 
  AnalyticsBottom=ViewData["PassedAnalyticsBottom"], 
  AdditionalMetaTags=ViewData["PassedAdditionalMetaTags"]
})
    <div id="main-content">
        @RenderBody()
    </div>

@Html.Action("FullFooter", "TemplateEngine", new
{
    Area = "",
    AnalyticsTop = ViewData["PassedAnalyticsTop"],
    AnalyticsBottom = ViewData["PassedAnalyticsBottom"],
    AdditionalMetaTags = ViewData["PassedAdditionalMetaTags"]
})        