@model MerchantTribeStore.code.TemplateEngine.TagHandlers.MainMenu.MainMenuViewModel
@helper RenderLink(MerchantTribeStore.code.TemplateEngine.TagHandlers.MainMenu.MainMenuViewModelLink link)
    {
    
}
@{
    // Limit number of links
    int stopCount = Model.Links.Count - 1;
    if ((Model.MaxLinks > 0) && ((Model.MaxLinks - 1) < stopCount))
    {
        stopCount = (Model.MaxLinks - 1);
    }
}
@if (Model.Links.Count > 0)
{
    <ul>
     @for (int i = 0; i <= stopCount; i++)
     {
         var link = Model.Links[i];
         <li><a href="@Html.Raw(link.Url)" title="@link.AltText"
         @if(link.IsActive) { <text> class="activemainmenuitem"</text> }
         @if (link.Target.Length > 0) { <text> target="@link.Target"</text> }                                   
         ><span>@link.DisplayName</span></a></li>             
         
         // Move to Next Row if Not Last Item
         int endOfRowCount = (i + 1) % Model.LinksPerRow;
         if ((endOfRowCount == 0) && (i < stopCount))
         {
             Html.Raw("</ul><ul>");
         }
     }
    </ul>
}
